.App {
  background-color: rgb(16, 15, 15);
  color: white;
  min-height: 100vh;
}

.encabezados {
  padding: 10px;
}

.primer-encabezado {
  display: flex;
  justify-content: space-around;

  .container-btns {
      font-size: 25px;
      cursor: pointer;
  }

  .current-temp-container {
    display: flex;

    .temp {
      font-size: 70px;
      align-content: center;
    }

    div {
      font-size: 40px;
    }
  }

  .localidad-mas-detalles {
    max-width: 50%;
    

    .localidad {
      font-size: 30px;
    }

    p {
      font-size: 19px;
    }

    .detalles {
      display: flex;
      gap: 8px;

      span {
        margin-left: 3px;
      }
    }
  }

  .input-search-container {
    padding: 5px 14px;
    padding: 10px;
    border-radius: 22px;
    min-width: 250px;
    max-width: 500px;
    background-color: red;

    position: relative;

    div {
      display: flex;
      justify-content: center;
      gap: 4px;

      input {
        border-radius: 7px;
        outline: none;
        border: none;
      }
    }
  }
}

.segundo-encabezado {
  display: flex;
  justify-content: space-evenly;

  .detalle {
    display: flex;

    i {
      font-size: 26px;
    }

    p {
      font-size: 19px;
      margin: 0;
    }
  }
}

.seccion-tablas {
  display: flex;
  gap: 5px;
  padding: 5px;

  .cartas-y-pronostico {
    width: 55%;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    gap: 5px;

    .cartas-de-dias {
      height: 50%;
      display: flex;
      justify-content: center;
      gap: 5px;
    }

    .pronostico-del-dia-seleccionado {
      background-color: rgb(45, 29, 29);
      height: 50%;
      border-radius: 10px;
    }
  }

  .viento-y-sol {
    display: flex;
    flex-direction: column;
    gap: 5px;
    min-height: 400px;
    width: 45%;
    border: 1px solid;

    .viento-container {
      height: 50%;
      width: 100%;
      background-color: white;
    }

    .sol-container {
      height: 50%;
    }
  }
}

.font-google {
  font-family: "Basic", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.font-google-delgada {
  font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}